<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductInfo" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProductInfo" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Product" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductInfo" contract="ProductService.IProductInfo"
                name="BasicHttpBinding_IProductInfo" />
            <endpoint address="net.tcp://localhost:8090/Product" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProductInfo" contract="ProductService.IProductInfo"
                name="NetTcpBinding_IProductInfo">
                <identity>
                    <userPrincipalName value="DESKTOP-DI137F7\Mahesh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>